@use "sass:math";
@use "./styles/global-variables";
@use "./styles/dependencies/dependencies";

:root {
	@include admin-scheme(global-variables.$orange-900);
}

.block-editor-container {
    position: relative;
    border: solid 1px global-variables.$gray-300;
    border-radius: 2px;

    input, textarea {
        box-sizing: border-box;
    }

    .block-editor {
        display: flex;
        flex-direction: column;
    }

    .block-editor__header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: solid 1px global-variables.$gray-300;
    }

    .block-editor__header-toolbar {
        display: flex;
    }

    .block-editor__content {
        display: flex;
    }

    .block-editor__editor {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
    }

    .block-editor__sidebar {
        flex: 0 0 global-variables.$sidebar-width;
        overflow-y: auto;
        border-left: 1px solid global-variables.$gray-300;

        .components-panel {
            box-sizing: content-box;
            height: 100%;
            position: relative;
            border: none;
        }
    }

    .block-editor-inserter__menu {
        background-color: global-variables.$white;
    }

    .block-editor-inserter__popover {
        .components-popover__content  {
            background-color: global-variables.$white;
            max-height: 400px !important;
        }

        .block-editor-inserter__menu {
            margin: -12px -8px;
        }
    }

    iframe, img {
        border: none;
    }
}
