@use "sass:math";

@use "./styles/global-variables";
@use "./styles/animations";
//@use "./styles/breakpoints";
//@use "./styles/colors";
@use "./styles/mixins";
@use "./styles/custom-properties";
//@use "./styles/variables";
@use "./styles/z-index";

@use "./styles/dependencies/components.scss";
@use "./styles/dependencies/block-editor.scss";
@use "./styles/dependencies/block-library.scss";
@use "./styles/dependencies/format-library.scss";

$sidebar-width: 300px;
$border-color: #e0e0e0;
$test: 1;

// Include the default WP Components color variables.
// TODO: Remove this once all admin-scheme variables are accounted for in the wp-components fallback values.
:root {
	@include admin-scheme(#3858e9);
}

.block-editor-container {
    position: relative;
    border: solid 1px $border-color;
    border-radius: 2px;

    input, textarea {
        box-sizing: border-box;
    }

    .block-editor {
        display: flex;
        flex-direction: column;
    }

    .block-editor__header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: solid 1px $border-color;
    }

    .block-editor__header-toolbar {
        display: flex;
    }

    .block-editor__content {
        display: flex;
    }

    .block-editor__editor {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
    }

    .block-editor__sidebar {
        flex: 0 0 $sidebar-width;
        overflow-y: auto;
        border-left: 1px solid $border-color;

        .components-panel {
            box-sizing: content-box;
            height: 100%;
            position: relative;
            border: none;
        }
    }

    .block-editor-inserter__menu {
        background-color: #FFFFFF;
    }

    .block-editor-inserter__popover {
        .components-popover__content  {
            background-color: #FFFFFF;
            max-height: 400px !important;
        }

        .block-editor-inserter__menu {
            margin: -12px -8px;
        }
    }

    iframe, img {
        border: none;
    }
}
